Datasource: https://www.kaggle.com/datasets/elvinrustam/books-dataset

In [1]:
import pandas as pd
import pandas as pd
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import nltk

# Download NLTK data (run this once)
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/sajjadislam/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/sajjadislam/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [26]:
df = pd.read_csv('../Data/BooksDataset.csv')
df.sample(5)

,Title,Authors,Description,Category,Publisher,Publish Date,Price
11789,Management Accounting (3rd Edition),"By Kaplan, Robert S., Atkinson, Anthony A. (ED...","Unique in approach, this book provides a balan...","Business & Economics , Accounting , Managerial",Pearson Education,"Sunday, October 1, 2000",Price Starting at $10.99
95831,Dragon Lady: The Life and Legend of the Last E...,"By Seagrave, Sterling and Seagrave, Peggy",The author of The Soong Dynasty gives us our m...,"Biography & Autobiography , Royalty",Vintage,"Sunday, August 1, 1993",Price Starting at $5.29
85124,"Cooking with the Pennsylvania ""Dutch"": A colle...","By Aurand, A. Monroe",NaN,NaN,Aurand Press,"Tuesday, January 1, 1946",Price Starting at $5.29
40532,The Life of Jesus (Lap Library),"By Makhasvili, Dimitri (ILT) and Makhashvili, ...",The Life of Jesus is a classic compilation of ...,"Juvenile Nonfiction , Religion , Bible Storie...",Random House Books for Young Readers,"Friday, February 1, 2002",Price Starting at $4.99
101224,Why Forgive,"By Arnold, Johann Christoph and Chalke, Steve ...",NaN,"Religion , Inspirational",Orbis Books,"Wednesday, June 1, 2005",Price Starting at $5.29

In [27]:
df.dropna(subset=['Description'], inplace=True)
df.dropna(subset=['Category'], inplace=True)

In [22]:
# Count the number of words in the 'Description' column
df["Word Count"] = df["Description"].apply(lambda x: len(str(x).split()))

# Calculate minimum, maximum, and median word counts
min_words = df["Word Count"].min()
max_words = df["Word Count"].max()
median_words = df["Word Count"].median()

print("Word Count Statistics for 'Description':")
print(f"DF shape: {df.shape}")
print(f"Lowest number of words: {min_words}")
print(f"Highest number of words: {max_words}")
print(f"Median number of words: {median_words}\n")

df = df[df["Word Count"] >= 50]

# Calculate minimum, maximum, and median word counts
min_words = df["Word Count"].min()
max_words = df["Word Count"].max()
median_words = df["Word Count"].median()

print("Word Count Statistics for 'Description':")
print(f"DF shape: {df.shape}")
print(f"Lowest number of words: {min_words}")
print(f"Highest number of words: {max_words}")
print(f"Median number of words: {median_words}\n")

# Filter the DataFrame to include only rows where word count > 400
df = df[df["Word Count"] < 400]

# Calculate statistics after filtering for rows with word count > 400
min_words = df["Word Count"].min()
max_words = df["Word Count"].max()
median_words = df["Word Count"].median()

print("Word Count Statistics for 'Description':")
print(f"DF shape: {df.shape}")
print(f"Lowest number of words: {min_words}")
print(f"Highest number of words: {max_words}")
print(f"Median number of words: {median_words}\n")

Word Count Statistics for 'Description':
DF shape: (65305, 8)
Lowest number of words: 1
Highest number of words: 3400
Median number of words: 101.0

Word Count Statistics for 'Description':
DF shape: (43363, 8)
Lowest number of words: 50
Highest number of words: 3400
Median number of words: 149.0

Word Count Statistics for 'Description':
DF shape: (42128, 8)
Lowest number of words: 50
Highest number of words: 399
Median number of words: 146.0

In [25]:
# Count the number of words in the 'Description' column
df["Word Count"] = df["Description"].apply(lambda x: len(str(x).split()))

# Calculate the 25th percentile (Q1) and 75th percentile (Q3)
q1 = df["Word Count"].quantile(0.25)
q3 = df["Word Count"].quantile(0.75)

print(f"First Quartile (Q1): {q1}")
print(f"Third Quartile (Q3): {q3}\n")

# Filter the DataFrame to keep only rows between Q1 and Q3
df_filtered = df[(df["Word Count"] > q1) & (df["Word Count"] < q3)]

# Calculate statistics after filtering
min_words = df_filtered["Word Count"].min()
max_words = df_filtered["Word Count"].max()
median_words = df_filtered["Word Count"].median()

print("Word Count Statistics for 'Description' (After Removing Q1 and Q4):")
print(f"DF shape: {df_filtered.shape}")
print(f"Lowest number of words: {min_words}")
print(f"Highest number of words: {max_words}")
print(f"Median number of words: {median_words}\n")

First Quartile (Q1): 37.0
Third Quartile (Q3): 176.0

Word Count Statistics for 'Description' (After Removing Q1 and Q4):
DF shape: (32292, 8)
Lowest number of words: 38
Highest number of words: 175
Median number of words: 101.0

In [28]:
# Count the number of words in the 'Description' column
df["Word Count"] = df["Description"].apply(lambda x: len(str(x).split()))

# Calculate the 10th percentile and 90th percentile
p10 = df["Word Count"].quantile(0.10)
p90 = df["Word Count"].quantile(0.90)

print(f"10th Percentile (P10): {p10}")
print(f"90th Percentile (P90): {p90}\n")

# Filter the DataFrame to keep only rows between the 10th and 90th percentiles
df_filtered = df[(df["Word Count"] > p10) & (df["Word Count"] < p90)]

# Calculate statistics after filtering
min_words = df_filtered["Word Count"].min()
max_words = df_filtered["Word Count"].max()
median_words = df_filtered["Word Count"].median()

print("Word Count Statistics for 'Description' (After Removing Lowest and Highest 10%):")
print(f"DF shape: {df_filtered.shape}")
print(f"Lowest number of words: {min_words}")
print(f"Highest number of words: {max_words}")
print(f"Median number of words: {median_words}\n")

10th Percentile (P10): 23.0
90th Percentile (P90): 258.0

Word Count Statistics for 'Description' (After Removing Lowest and Highest 10%):
DF shape: (52071, 8)
Lowest number of words: 24
Highest number of words: 257
Median number of words: 101.0

In [10]:
# Define stop words
stop_words = set(stopwords.words('english'))

# Function to remove stop words and count words
def clean_and_count_words(text):
    words = word_tokenize(text)  # Tokenize the text
    filtered_words = [word for word in words if word.lower() not in stop_words]  # Remove stop words
    return len(filtered_words)  # Return the count of non-stop words

# Apply the function to the 'Description' column
df["Filtered Word Count"] = df["Description"].apply(clean_and_count_words)

# Calculate minimum, maximum, and median word counts
min_words = df["Filtered Word Count"].min()
max_words = df["Filtered Word Count"].max()
median_words = df["Filtered Word Count"].median()

print("Word Count Statistics (After Removing Stop Words):")
print(f"Lowest number of words: {min_words}")
print(f"Highest number of words: {max_words}")
print(f"Median number of words: {median_words}\n")

Word Count Statistics (After Removing Stop Words):
Lowest number of words: 0
Highest number of words: 2610
Median number of words: 74.0

In [9]:
# Analyze unique categories
unique_categories = df["Category"].dropna().unique()
num_categories = len(unique_categories)

print("Unique Categories and Their Count:")
print(f"Number of unique categories: {num_categories}")
print(unique_categories)

Unique Categories and Their Count:
Number of unique categories: 2983
[' Poetry , General' ' Biography & Autobiography , General'
 ' Health & Fitness , Diet & Nutrition , Diets' ...
 ' Young Adult Fiction , Performing Arts , Music'
 ' Computers , Mathematical & Statistical Software'
 ' Young Adult Nonfiction , Biography & Autobiography , Science & Technology']