Datasource: https://www.kaggle.com/datasets/elvinrustam/books-dataset

In [11]:
import pandas as pd
import pandas as pd
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import nltk

# Download NLTK data (run this once)
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/sajjadislam/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/sajjadislam/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [14]:
df = pd.read_csv('../Data/BooksDataset.csv')
df.sample(5)

,Title,Authors,Description,Category,Publisher,Publish Date,Price
97098,The Origin of Species (Barnes & Noble Classics...,"By Darwin, Charles and Levine, George (INT)",&&LDIV&&R&&LDIV&&R&&LI&&RThe Origin of Species...,"Science , Life Sciences , Evolution",Sterling Publishing,"Monday, December 1, 2003",Price Starting at $5.29
990,Tabloid Dreams: Stories,"By Butler, Robert Olen",In his first collection since the Pulitzer Pri...,"Fiction , General",Henry Holt & Co,"Tuesday, October 1, 1996",Price Starting at $5.29
60887,Diabetes For Dummies,"By Rubin, Alan L.",Diabetes affects millions of Americans each ye...,"Health & Fitness , Diseases , Diabetes",For Dummies,"Sunday, August 1, 2004",Price Starting at $5.47
9166,The Funnies: A Novel,"By Lennon, J. Robert","The Mix family, a motley crew of troubled soul...","Fiction , Sagas",Riverhead Trade,"Tuesday, February 1, 2000",Price Starting at $4.99
74335,Half Life,"By Clement, Hal","In about two hundred years, the human race on ...","Fiction , Science Fiction , General",Tor Science Fiction,"Thursday, June 1, 2000",Price Starting at $5.29

In [4]:
df.dropna(subset=['Description'], inplace=True)
df.dropna(subset=['Category'], inplace=True)

In [8]:
# Count the number of words in the 'Description' column
df["Word Count"] = df["Description"].apply(lambda x: len(str(x).split()))

# Calculate minimum, maximum, and median word counts
min_words = df["Word Count"].min()
max_words = df["Word Count"].max()
median_words = df["Word Count"].median()

print("Word Count Statistics for 'Description':")
print(f"Lowest number of words: {min_words}")
print(f"Highest number of words: {max_words}")
print(f"Median number of words: {median_words}\n")

Word Count Statistics for 'Description':
Lowest number of words: 1
Highest number of words: 3400
Median number of words: 101.0

In [10]:
# Define stop words
stop_words = set(stopwords.words('english'))

# Function to remove stop words and count words
def clean_and_count_words(text):
    words = word_tokenize(text)  # Tokenize the text
    filtered_words = [word for word in words if word.lower() not in stop_words]  # Remove stop words
    return len(filtered_words)  # Return the count of non-stop words

# Apply the function to the 'Description' column
df["Filtered Word Count"] = df["Description"].apply(clean_and_count_words)

# Calculate minimum, maximum, and median word counts
min_words = df["Filtered Word Count"].min()
max_words = df["Filtered Word Count"].max()
median_words = df["Filtered Word Count"].median()

print("Word Count Statistics (After Removing Stop Words):")
print(f"Lowest number of words: {min_words}")
print(f"Highest number of words: {max_words}")
print(f"Median number of words: {median_words}\n")

Word Count Statistics (After Removing Stop Words):
Lowest number of words: 0
Highest number of words: 2610
Median number of words: 74.0

In [9]:
# Analyze unique categories
unique_categories = df["Category"].dropna().unique()
num_categories = len(unique_categories)

print("Unique Categories and Their Count:")
print(f"Number of unique categories: {num_categories}")
print(unique_categories)

Unique Categories and Their Count:
Number of unique categories: 2983
[' Poetry , General' ' Biography & Autobiography , General'
 ' Health & Fitness , Diet & Nutrition , Diets' ...
 ' Young Adult Fiction , Performing Arts , Music'
 ' Computers , Mathematical & Statistical Software'
 ' Young Adult Nonfiction , Biography & Autobiography , Science & Technology']